In [1]:
import pandas as pd

In [2]:
df=pd.read_csv(r"D:\VIIT SEM 3\AI BootCamp\Assignment 1\Assignment 1\Sales.csv")
df.head()

   ProductID ProductCategory  Price  QuantitySold  Revenue
0        101     Electronics   1500             5     7500
1        102     Electronics   2000             3     6000
2        103       Furniture    500            10     5000
3        104        Clothing     50           100     5000
4        105     Electronics  10000             1    10000

In [3]:
df["Revenue"] = df["Price"]*df["QuantitySold"]

In [4]:
df

   ProductID ProductCategory  Price  QuantitySold  Revenue
0        101     Electronics   1500             5     7500
1        102     Electronics   2000             3     6000
2        103       Furniture    500            10     5000
3        104        Clothing     50           100     5000
4        105     Electronics  10000             1    10000
5        106        Clothing     20           200     4000
6        107       Furniture   1000             5     5000

In [6]:
from scipy import stats
import numpy as np

In [7]:
df["Z_score"] = np.abs(stats.zscore(df['Price']))

In [14]:
threshold = 2 #Common threshold for z-score

In [15]:
df_clean =df[df['Z_score']< threshold]

df

   ProductID ProductCategory  Price  QuantitySold  Revenue   Z_score
0        101     Electronics   1500             5     7500  0.199372
1        102     Electronics   2000             3     6000  0.046680
2        103       Furniture    500            10     5000  0.504757
3        104        Clothing     50           100     5000  0.642179
4        105     Electronics  10000             1    10000  2.396394
5        106        Clothing     20           200     4000  0.651341
6        107       Furniture   1000             5     5000  0.352064

In [16]:
df_clean = df_clean.drop(columns=['Z_score'])

print(df_clean)

   ProductID ProductCategory  Price  QuantitySold  Revenue
0        101     Electronics   1500             5     7500
1        102     Electronics   2000             3     6000
2        103       Furniture    500            10     5000
3        104        Clothing     50           100     5000
5        106        Clothing     20           200     4000
6        107       Furniture   1000             5     5000

In [19]:
from sklearn.preprocessing import MinMaxScaler

In [20]:
scaler = MinMaxScaler()

In [21]:
df[['Price', "Revenue"]] = scaler.fit_transform(df[['Price', 'Revenue']])

print(df)

   ProductID ProductCategory     Price  QuantitySold   Revenue   Z_score
0        101     Electronics  0.148297             5  0.583333  0.199372
1        102     Electronics  0.198397             3  0.333333  0.046680
2        103       Furniture  0.048096            10  0.166667  0.504757
3        104        Clothing  0.003006           100  0.166667  0.642179
4        105     Electronics  1.000000             1  1.000000  2.396394
5        106        Clothing  0.000000           200  0.000000  0.651341
6        107       Furniture  0.098196             5  0.166667  0.352064